body {
  overflow-x: hidden;
  margin: 2em;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerbtn {
  margin: 1.3em 0;
}
select {
  border-radius: 2em;
  padding: 0.3em 0.6em;
}

#p1button,
#p2button {
  margin-right: 1em;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  font-size: 0.9em;
  color: white;
}
#p1button {
  background-color: #3298dc;
}
#p2button {
  background-color: #00d1b2;
}
#p1button:hover,
#p2button:hover,
#reset:hover,
select {
  cursor: pointer;
}
.scores:hover , .header:hover, .lbl:hover{
  cursor: default;
}
.header {
  font-size: 2em;
  letter-spacing: 0.1em;
  width: 17.5em;
  border-left: 4px solid #2a9d8f;
  color: #264653;
  background-color: #d8e2dc;
  font-weight: bolder;
  padding: 0.3em 0.2em;
}
#reset {
  margin-right: 1em;
  font-size: 0.9em;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  color: white;
  background-color: #f14668;
}
.img {
  width: 36rem;
}
body {
  background-color: #a8dadc;
}

.selectTxt {
  width: 20rem;
  margin-top: 1em;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #e8e8e4;
  border: 2px solid #2a9d8f;
  border-left: 4px solid #2a9d8f;
  font-weight: bold;
}
label {
  margin-right: 1em;
}
.scores {
  font-size: 2.5em;
  margin-top: 0.2em 0;
  font-weight: 900;
  padding: 0.2em 0.5em;
  border-bottom: 1px solid black;
}

.winner {
  color: green;
}
.loser {
  color: red;
}

@media (max-width: 600px) {
  .img {
    width: 92%;
  }
  .header {
    width: 90%;
    height: 1.3em;
    padding: 0.6em 0;
    text-align: center;
    font-size: 4.2vw;
    text-overflow: hide;
  }
  .selectTxt {
    width: 20em;
    font-size: 0.8em;
    margin-top: 2em;
    margin-bottom: 2.5em;
  }
  .scores {
    margin-bottom: 1em;
  }
  #p1button,
  #p2button {
    padding: 0.3em 0.6em;
  }
  select {
    font-size: 0.7em;
  }
}

@media (max-width: 350px) {
  .selectTxt {
    width: 8rem;
    font-size: 0.43em;
  }
  select {
    font-size: 0.4em;
  }
  .scores {
    font-size: 1.5em;
  }
  #p1button,
  #p2button,
  #reset {
    font-size: 0.6em;
  }
}
